<div id="add-board-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-board-modal" class="fancy-button close">&times;</span>
            <h1 class="modal-title">New Board</h1>
        </div>
        <div class="modal-body">
            <p class="modal-title-prompt">Title</p>
            <input type="text" id="new-board-title"></input>
        </div>
        <button id="submit-board-btn">Submit</button>
    </div>
</div>
