<div id="add-card-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-card-modal" class="fancy-button close">&times;</span>
            <h1 class="modal-title">New Card</h1>
        </div>
        <div class="modal-body">
            <p class="modal-title-prompt">Card Title:</p>
            <input type="text" id="new-card-title"></input><br>
            <p class="modal-label-prompt">Card Labels:</p>
            <div id="card-modal-labels"></div>
            <p class="modal-desc-prompt">Card Description:</p>
            <input type="text" id="new-card-desc"></input>
        </div>
        <button id="submit-card-btn">Submit</button>
    </div>
</div>
