<div id="labels-container">
    <div id="labels-header">
        <h1 id="labels-title">Labels</h1>
        <p>(Click a label to filter, click again to restore cards)</p>
    </div>
    <div id="labels-body">
        <ul id="labels-list">
            {{> addLabel}}
        </ul>
    </div>
</div>
