<div id="add-label-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-label-modal" class="fancy-button close">&times;</span>
            <h1 class="modal-title">New Label</h1>
        </div>
        <div class="modal-body">
            <p class="modal-title-prompt">Label Name</p>
            <input type="text" id="new-label-title"></input>
        </div>
        <button id="submit-label-btn">Submit</button>
    </div>
</div>
