<div id="add-list-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-list-modal" class="fancy-button close">&times;</span>
            <h1 class="modal-title">New List</h1>
        </div>
        <div class="modal-body">
            <p class="modal-title-prompt">Title</p>
            <input type="text" id="new-list-title"></input>
            <p class="modal-label-prompt">Card Labels:</p>
            <div id="list-modal-labels"></div>
        </div>
        <button id="submit-list-btn">Submit</button>
    </div>
</div>
