* {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
}

header {
    display: block;
    color: white;
    background-color: gray;
}

.lists {
    display: block;
    margin: auto;
    background-color: lightgray;
}

.list-wrapper {
    display: inline-block;
    vertical-align: top;
    background-color: gray;
    padding: 5px;
}

.card-wrapper {
    border: 1px solid black;
}
