<div class="board" data-bid={{bid}}>
    <div class="board-header">
        <span class="delete">&times;</span>
        <h2 class="board-title">{{board_title}}</h2>
    </div>
    <div class="board-content"></div>
    {{> addList}}
</div>
