<div class="list" data-lid={{lid}}>
    <div class="list-header">
        <span class="delete">&times;</span>
        <h3 class="list-title">{{list_title}}</h3>
        {{#each list_label}}
            <div class="card-label">{{this}}</div>
        {{/each}}
    </div>
    <div class="list-body"></div>
    {{> addCard}}
</div>
