<body>
    <header>
        <h1 class="site-title">Planner</h1>
        {{> labels}}
    </header>
    <div class="planner">
        <div class="add-board">
            <span id="add-board-btn" class="add-board-btn add">(&plus;) BOARD</span>
        </div>
    </div>
</body>
{{> boardModal}}
{{> listModal}}
{{> cardModal}}
{{> labelModal}}
